<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css"></link>
  <link rel="stylesheet" href="/github-markdown.min.css"></link> 
  {{head}}
  <title>{{ blogHeadTitle }}</title>
</head>



<div style="display: flex">
  <nav id="sidebar-left" class="nav">
  <a href="/">Home</a>
  <hr></hr>
    {{ comp.TagBlock({ tags: search.values("tags") }) }}
  </nav>

<div style="width:100%" class="main">

{{comp.BlogHead()}}
  {{ content }}
  </div>
</div>

</html>